.container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;

}

p {
    text-align: center;
    font-weight: bold;
}

.square {
    height: 40px;
    width: 40px;
}

.beige {
    background-color: beige;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px
}

.brown {
    background-color: brown;
}

.black {
    fill: black;
}

.white {
    fill: white;
}