.container {
    display: flex;
    justify-content: center;
}

#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;

}

p {
    text-align: center;
}

.square {
    height: 40px;
    width: 40px;
}

.beige {
    background-color: beige;
}

.brown {
    background-color: brown;
}
