.container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;

}

p {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.square {
    height: 40px;
    width: 40px;
}

.gray {
    background-color: rgb(171, 168, 168);
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: absolute;
}

.brown {
    background-color: rgb(147, 76, 50);
}

.black {
    fill: black;

}

.white {
    fill: white;

}